---
// Layouts
import BaseLayout from "../layouts/base.layout.astro";
---

<BaseLayout title="Oops!">
  <div class="w-dvw h-dvh flex items-center justify-center">
    <div class="w-[460px] m-auto flex flex-col items-center p-6">
      <div class="mb-12">
        <span role="img" class="text-6xl">😳</span>
      </div>

      <h1 class="text-4xl text-neutral-800 font-sans font-bold mb-4">
        This is awkward
      </h1>

      <p class="text-xl text-neutral-800 text-center">
        Something went wrong somewhere. We have been notified and are working on
        it. Please try again in sometime.
      </p>
    </div>
  </div>
</BaseLayout>
